token                    = "y5_gdjhgjkjjjDGnvfwLaIw"
cloud_id                 = "dfdfhk845214gcfnhfg84"
folder_id                = "dfkghjdf845641fghffdf"
zone                     = "ru-central1-a"
net_id                   = "enppplldfsghfdhjnf6ls"
subnet_id                = "dfhg7djhfj7f4gvfkj78g"
image_id                 = "idiojfdjg8452df"
ssh_user                 = "ubuntu"
public_key_path          = "~/.ssh/public_key"
private_key_path         = "~/.ssh/private_key"
k8s_version              = "1.27"
sa_name                  = "k8s-sa-tf"
v4_cidr_blocks           = "10.1.0.0/16"
